html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: #181F2B;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.menu-list {
  display: flex;
  align-items: center;
  margin-top: 24px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 12px;
  line-height: 14px;
  padding: 0 20px;
}

.nav-list {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  list-style-type: none;
}

.nav-list-item:not(:first-child) {
  margin-left: 24px;
}

.nav-list-item a {
  text-decoration: none;
  font-family: Raleway;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

.intro {
  margin: 0;
  padding: 0;
  max-width: 735px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro h2 {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  font-size: 24px;
  line-height: 36px;
  margin-top: 30px;
  max-width: 730px;
  text-align: center;
}

.intro p {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  max-width: 589px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.start-link {
  margin-top: 48px;
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 16px 81px;
  background: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 24px;
}

.features {
  max-width: 880px;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.features-item {
  width: 320px;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.productive-side {
  margin-top: 130px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.productive-side h2 {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.productive-side p {
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.productive-link {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #62E0D9;
  box-shadow: 0 2px 0 #62E0D9;
}

.productive-link::after {
  display: inline-block;
  background-image: url(../img/Shape.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-left: 5px;
  width: 12px;
  height: 12px;
  padding: 5px;
  background-color: #62E0D9;
  border-radius: 50%;
  box-shadow: 0 0 5px #62E0D9;
  transform: translateX();
  content: "";
}

.productive-side-right {
  margin-left: auto;
  max-width: 403px;
}

.logo-blockquotes {
  margin-bottom: -15px;
  margin-left: 20px;
}

.blockquotes {
  max-width: 1000px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.blockquotes li {
  margin: 0;
  padding: 0;
  padding: 15px;
  margin: 24px 0;
  width: 310px;
  margin: 10px;
  background: #202A3C;
  box-shadow: 0px 0px 8px rgba(56, 56, 56, 0.0458843);
  border-radius: 3.93258px;
}

.blockquotes blockquote {
  font-size: 10px;
  line-height: 18px;
  color: #FFFFFF;
}

.blockquotes-bottom {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.blockquotes-bottom img {
  display: block;
  width: 24px;
  height: 24px;
}

.blockquotes-bottom div {
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
  margin-left: 10px;
}

.blockquotes-bottom h3 {
  margin: 0;
  height: 0;
  margin-bottom: 7px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.5px;
}

.blockquotes-bottom p {
  margin: 0;
  height: 0;
  font-size: 7px;
  margin-top: 7px;
  line-height: 10px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}